# Build artifacts
[Bb]in/
[Oo]bj/
build
output
.gradle
.tmp
.intellijPlatform

# User-specific files
*.suo
*.user
*.sln.docstates
*.cache
.kotlin

# IDEs
/.idea/*.iml
/.idea/*.xml
/.idea/.idea.*/*.iml
/.idea/.idea.*/.idea/*.xml
.idea/shelf
.vs
_ReSharper*
_dotTrace*

# Nuget
packages/
**/NuGetLocks/*

# Example Mod
example-mod/.idea
